footer(class="pt-4 my-md-5 pt-md-5 border-top")
    div(class="col-12 col-md text-center")
        small(class="d-block mb-3 text-muted") © 2017-2019

script(src="js/nav.js")
script(src="js/cart.js")

