div(class="site-nav navbar-expand-lg navbar-light bg-light")
  div(class="close-button-div")
      button(class="close-nav btn btn-primary") <i class="fas fa-times-circle"></i>
  h3(class="cart-header") Categories
  div(id="category-list")
  h3(class="cart-header") Cart
  div(id="cart-nav")
  div(class="text-right")
    a(
        href="/order"
        target="_blank"
    )
      button(class="btn btn-primary") To cart
    